body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 1px solid grey;
    border-radius: 1rem;

}

.article {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
}